*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    align-items: center;  
    justify-content: center;
    display: flex;
    padding: 10rem;
    background-color: #f02020;
    position: absolute;
    color: red;
    
}
.container{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
